<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Krafs.Publicizer" version="2.2.1" targetFramework="net472" developmentDependency="true" />
  <package id="NUnit" version="3.13.3" targetFramework="net472" />
  <package id="TeleCore" version="1.9.4.1" targetFramework="net472" />
</packages>